<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Страница администратора</title>
</head>
<body class="container-fluid bg-white">

<!------------- Header > > > ------------->
<header class="navbar bg-dark mx-n3">
    <div class="text-white" style="font-size: larger; padding: 2px 4px">
        <b id="header_my_email"></b> with roles: <span id="header_my_roles"></span>
    </div>
    <a class="text-white-50" href="/logout">Logout</a>
</header>
<!------------- < < < Header ------------->

<main class="row">

    <!------------- Left block - Users > > > -------------->
    <div class="col-2 pt-3 px-0">
        <nav class="nav nav-pills flex-column bg-white" id="left_block">
            <a class="nav-link active disabled" href="#" onclick='leftBlockAdminClick()'
               id="left_block_user_0">Администратор</a>
        </nav>
    </div>
    <!------------- < < < Left block - Users > > > ------------->

    <!------------- Right block - Users > > > ------------->
    <div class="col-10 bg-light py-3 px-4" style="height: 100vh">

        <h1 id="admin_panel">Панель администратора</h1>
        <h1 id="user_info_page" hidden>Страница Информация о пользователе</h1>
        <ul class="nav nav-tabs pt-2" id="right_block_tab_users">
            <li class="nav-item">
                <a id="right_block_users_link" class="nav-link active disabled" href="#" onclick="usersClick()">
                    Список пользователей
                </a>
            </li>
            <li class="nav-item">
                <a id="right_block_new_user_link" class="nav-link" href="#" onclick="newUserClick()">
                    Новый пользователь
                </a>
            </li>
            <li class="nav-item">
                <a id="right_block_roles_link" class="nav-link" href="#" onclick="rolesClick()">Список ролей</a>
            </li>
            <li class="nav-item">
                <a id="right_block_new_role_link" class="nav-link" href="#" onclick="newRoleClick()">Новая роль</a>
            </li>
        </ul>

        <!------------- Users block > > > ------------->
        <div class="tabsContent" id="users_panel">
            <ul class="nav nav-tabs font-weight-bold border-bottom">
                <li class="nav-item text-dark w-100">
                    <a class="nav-link active disabled bg-light h5" href="#" id="title2">Пользователи</a>
                </li>
            </ul>

            <div class="bg-white border py-3 px-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Возраст</th>
                        <th>Е&#8288;&#8209;&#8288;мэйл</th>
                        <th style="min-width: 160px">Роли</th>
                        <th class="admin_column">Заблокирован</th>
                        <th class="admin_column">Редактировать</th>
                        <th class="admin_column">Удалить</th>
                    </tr>
                    </thead>

                    <!-- About user -->
                    <tbody id="right_block_users">
                    <tr class="bg-light" id="right_block_user" hidden>
                        <td id="right_block_id"></td>
                        <td id="right_block_firstname"></td>
                        <td id="right_block_lastname"></td>
                        <td id="right_block_age"></td>
                        <td id="right_block_email"></td>
                        <td>
                            <ul id="right_block_roles" class="list-group" style="list-style-type: none"></ul>
                        </td>
                    </tr>

                    <!--  Users -->
                    <tr id="right_block_tr_template" hidden>
                        <td id="user_id_template"></td>
                        <td id="user_firstname_template"></td>
                        <td id="user_lastname_template"></td>
                        <td>
                            <span id="user_age_template"></span>
                            <span hidden id="user_birthdate_template"></span>
                            <span hidden id="user_password_template"></span>
                            <span hidden id="user_parent_id_template"></span>
                        </td>
                        <td class="class_email" id="user_email_template"></td>
                        <td>
                            <ul id="user_roles_template" class="list-group" style="list-style-type: none"></ul>
                        </td>
                        <td>
                            <input type="checkbox" class="checkbox" style="height: 24px; width: 24px"
                                   onclick="lockClick(template)" id="user_locked_template">
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-id="template" id="user_edit_template"
                                    data-toggle="modal" data-target="#userDialog" data-action="update">
                                Редактировать
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-id="template" id="user_delete_template"
                                    data-toggle="modal" data-target="#userDialog" data-action="delete">
                                Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------- < < < Users block ------------->

        <!------------- New user block > > > ------------->
        <div class="tabsContent" id="new_user_panel" hidden>

            <ul class="nav nav-tabs font-weight-bold border-bottom">
                <li class="nav-item text-dark w-100">
                    <a class="nav-link active disabled bg-light h5" href="#">Зарегистрировать пользователя</a>
                </li>
            </ul>

            <div class="bg-white text-center font-weight-bold border py-3">
                <div class="form-group input-group-sm m-auto" style="width: 300px">
                    <label for="firstname" class="m-0">Имя*</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Имя"
                           name="firstname">
                </div>
                <div class="form-group input-group-sm m-auto" style="width: 300px">
                    <label for="lastname" class="m-0">Фамилия*</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Фамилия"
                           name="lastname">
                </div>
                <div class="form-group input-group-sm m-auto" style="width: 300px">
                    <label for="birthdate" class="m-0">Дата рождения</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate">
                </div>
                <div class="form-group input-group-sm m-auto" style="width: 300px">
                    <label for="email" class="m-0">Электронная почта*</label>
                    <input type="email" class="form-control" id="email" placeholder="Электронная почта"
                           name="email">
                </div>
                <div class="form-group input-group-sm m-auto" style="width: 300px">
                    <label for="password" class="m-0">Пароль*</label>
                    <input type="password" class="form-control" id="password" placeholder="Пароль"
                           name="password">
                </div>
                <div class="form-group m-auto" style="width: 300px">
                    <label for="new_user_roles" class="m-0">Роли</label>
                    <select class="form-control" id="new_user_roles" name="roles" multiple>
                        <option class="option" id="option_template_new_user_roles" hidden></option>
                    </select>
                </div>
                <button type="button" class="btn btn-success mt-3" onclick="saveNewUserClick()">
                    Зарегистрировать
                </button>
            </div>
        </div>
        <!------------- < < < New user block ------------->

        <!------------- Roles block > > > ------------->
        <div class="tabsContent" id="roles_panel" hidden>
            <ul class="nav nav-tabs font-weight-bold border-bottom">
                <li class="nav-item text-dark w-100">
                    <a class="nav-link active disabled bg-light h5" href="#">Роли</a>
                </li>
            </ul>

            <div class="bg-white border py-3 px-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th class="admin_roles_column">Переименовать</th>
                        <th class="admin_roles_column">Удалить</th>
                    </tr>
                    </thead>

                    <!-- About role -->
                    <tbody id="right_block_tab_roles">
                    <tr class="bg-light" id="right_block_role" hidden>
                        <td id="right_block_role_id"></td>
                        <td id="right_block_role_name"></td>
                        <td>
                            <ul id="right_block_role_users" class="list-group" style="list-style-type: none"></ul>
                        </td>
                    </tr>

                    <!--  Roles -->
                    <tr id="right_block_role_tr_template" hidden>
                        <td id="role_id_template"></td>
                        <td id="role_name_template" class="class_role"></td>
                        <td>
                            <button type="button" class="btn btn-info" data-id="template" id="role_edit_template"
                                    data-toggle="modal" data-target="#roleDialog" data-action="update">
                                Переименовать
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-id="template" id="role_delete_template"
                                    data-toggle="modal" data-target="#roleDialog" data-action="delete">
                                Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------- < < < Roles block ------------->

        <!------------- New role block > > > ------------->
        <div class="tabsContent" id="new_role_panel" hidden>
            <ul class="nav nav-tabs font-weight-bold border-bottom">
                <li class="nav-item text-dark w-100">
                    <a class="nav-link active disabled bg-light h5" href="#">Зарегистрировать роль</a>
                </li>
            </ul>

            <div class="bg-white text-center font-weight-bold border py-3">
                <div class="form-group input-group-sm m-auto" style="width: 300px">
                    <label for="name" class="m-0">Название*</label>
                    <input type="text" class="form-control" id="name" placeholder="Название роли"
                           name="firstname">
                </div>
                <button type="button" class="btn btn-success mt-3" onclick="saveNewRoleClick()">
                    Зарегистрировать
                </button>
            </div>
        </div>
        <!------------- < < < New role block ------------->

    </div>
    <!------------- < < <   Right block  ------------->

</main>

<!------------- Modal window > > > ------------->
<div class="modal fade" id="userDialog" tabindex="-1" role="dialog" aria-labelledby="userDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title " id="userDialogLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-id" class="mb-0">ID</label>
                        <input type="text" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-id" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-firstname" class="mb-0">Имя*</label>
                        <input type="text" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-firstname"
                               onFocus="this.select()">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-lastname" class="mb-0">Фамилия*</label>
                        <input type="text" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-lastname"
                               onFocus="this.select()">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-birthdate" class="mb-0">Дата рождения</label>
                        <input type="date" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-birthdate">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-email" class="mb-0">Е-мэйл*</label>
                        <input type="email" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-email"
                               onFocus="this.select()">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4" id="user-password-area">
                        <label for="user-password" class="mb-0">Пароль</label>
                        <input type="password" class="form-control form-control-sm w-50 my-0 mx-auto"
                               id="user-password" onFocus="this.select()">
                    </div>

                    <div class="d-flex justify-content-center">
                        <label class="mb-0 font-weight-bold" for="modal_roles">Роли</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <select class="form-control w-50" id="modal_roles" name="roles" multiple>
                            <option class="option" id="option_template_modal_roles" hidden></option>
                        </select>
                    </div>

                    <input type="checkbox" id="user-locked" hidden>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="update-user-button">Сохранить</button>
                <button type="button" class="btn btn-danger" id="delete-user-button">Удалить</button>
            </div>

        </div>
    </div>
</div>
<!------------- < < < Modal window ------------->

<span id='my_id' hidden></span>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="start.js"></script>
<script src="admin.js"></script>
<script src="modal.js"></script>
<script src="new-user.js"></script>
<script src="roles.js"></script>
</body>
</html>
